<aside id="timeline">
    <h1 id="aside-title"> Timeline </h1>
    <ul>
        <a class="main-links" href="/api/v1/stories/stories-by-era/Guide">
            <li class="era">
                Guide
            </li>
        </a>
        <a class="main-links" href="/api/v1/stories/stories-by-era/Primal">
            <li class="era">
                Primal
            </li>
        </a>
        <a class="main-links" href="/api/v1/stories/stories-by-era/Mortal">
            <li class="era">
                Mortal
            </li>
        </a>
        <a class="main-links" href=" /api/v1/stories/stories-by-era/Cosmic">
            <li class="era">
                Cosmic
            </li>
        </a>
    </ul>
</aside>