<section id="intro">
    <div class="hero-container">
        <h2 class="subtitle"> A Worldbuilding Project</h2>
        <p class="desc">
            Explore a world born from the union of magic and machinery!
        </p>
    </div>

</section>