<section class="section shop">
    <div class="section-header">
        <div class="title">
            SHOP
        </div>
        <%- include('../utils/under-construction') %>

    </div>
</section>