<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akaelumn</title>
    <link rel="stylesheet" href="/styles/utils/header.css">
    <link rel="stylesheet" href="/styles/utils/main-display.css">

</head>

<body>
    <%- include('../utils/header') %>


        <main id="main">
            <div class="content-container">
                <%- include('../utils/under-construction') %>

            </div>

        </main>



        <footer>

        </footer>
</body>

</html>