<header>
    <h1 class="logo"><a class="main-links" href="/"> Akaelumn </a> </h1>
    <nav>
        <ul>
            <li class="nav">
                <a href="/stories" class="nav"> Stories </a>
            </li>
            <li class="nav">
                <a href="/art" class="nav"> Art </a>
            </li>
            <li class="nav">
                <a href="/shop" class="nav"> Shop </a>
            </li>
            <li class="nav">
                <a href="/about" class="nav"> About </a>
            </li>
        </ul>
    </nav>
</header>